* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

main {
  position: relative;

  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  padding: 100px;
  height: 50vh;
}

.container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 0 20px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header {
  height: 30%;
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 200px;
}

.header a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  color: rgb(238, 174, 202);
  height: 50px;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
}

.header a:hover {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: black;
  text-decoration: underline;
  transition: all 1s;
}

.header a svg {
  width: 40px;
  margin-right: 4px;
}

.header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: rgba(55, 56, 57, 0.2) 0px 8px 24px;
}

.content {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content__name {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

.content__address {
  font-size: 20px;
  color: #a5a5a5;
  font-weight: 300;

  margin-bottom: 50px;
}

.content__major {
  font-size: 28px;
  text-align: center;
  color: #a5a5a5;
  font-weight: 300;
  margin-bottom: 50px;
}

.content__list {
  display: flex;
  gap: 60px;
  list-style: none;
}

.content__list li {
  padding: 0 15px;
  text-align: center;
  font-size: 18px;
  color: #a5a5a5;

  margin-bottom: 50px;
}

.content__list li span {
  display: block;
  color: black;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 32px;
}

.content__button {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 10px;
  text-transform: uppercase;
  color: #fff;
  height: 54px;
  cursor: pointer;
  padding: 20px 20px;
  text-decoration: none;
}

.content__button:hover span {
  color: black;
  text-decoration: underline;
}

.content__button:hover {
  opacity: 0.75;
}
